ul {
  width: 50%;
  list-style: none;
  margin: auto;
  margin-top: 10px;
}

li {
  background-color: aliceblue;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;

  border-radius: 18px;
}
